body{
    background-color:#021e37;
}

.footer{
    background-color: #1a1a1a;
    margin-top:28em;
    height:20em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subject h3{
    color: white;
}

.form-control-lg {
    padding: 0;
    font-size: 3em;
    height: calc(1.5em + 1.5rem + 0px);
}

.mentors{
    display:flex;
    flex-direction: column;
}

.mentors > h1, .mentors > a{
    color: white;
}

.profile h1, .profile p, .profile a{
    color: white;
}
