body{
    background-color:#021e37;
}

.hero-background{
    background-color: aqua;
    background-image: url(https://img4.goodfon.com/wallpaper/nbig/a/8b/vector-blue-squares-abstract-background-geometric.jpg);
    height: 40em;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-index{
    margin-top: 9em;
}

.footer{
    background-color: #1a1a1a;
    margin-top:28em;
    height:20em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subject h3{
    color: white;
}

.form-control-lg {
    padding: 0;
    font-size: 3em;
    height: calc(1.5em + 1.5rem + 0px);
}

.mentors{
    display:flex;
    flex-direction: column;
}

.mentors > h1, .mentors > a{
    color: white;
}

.profile h1, .profile p, .profile a{
    color: white;
}

.email{
    
}

.w-100 {
    height: 30em;
    margin-top: 20em;
}

.carousel-control-prev, .carousel-control-next {
    top: 40%;
}

.subject{
    padding-left: 3em;
}