{% extends 'base.html' %}
{% block content %}
<p class='about'>
We serve entrepreneurs, start-ups and small businesses in San Francisco, San Mateo and Marin counties. More than 50 retired and active professionals provide free and confidential business counseling and a variety of low-cost workshops to boost your business success.

SF SCORE mentors are real-world professionals with time-tested knowledge. Our volunteers are  experts in such areas as accounting, finance, marketing, management, and business plan preparation. 

Our mentors bring experience in dozens of industries, including restaurants, hospitality, manufacturing, internet, mobile devices, nonprofits, real estate, human resources, food and beauty products, and government contracting.

We offer face-to-face and online counseling at no fee from our offices in downtown San Francisco and selected Chambers of Commerce in San Mateo and Marin. Get all the help you need to launch or support an existing business, along with tools and local resources.

Schedule face-to-face counseling in San Francisco and selected Chamber of Commerce offices in San Mateo and Marin

Find an online counselor from San Francisco.
</p>
{% endblock %}