{% extends 'base.html' %}

{% block content %}

<!-- HERO -->  
<div class="jumbotron text-center">
  <div class='hero-index'>
    <h1>Mentor Me</h1>
    <!-- <p class="lead">Welcome!</p> -->
    <a href="{{ url_for('mentor_form') }}" class="btn btn-primary">Apply to be a mentor</a>
  </div>
</div>

<!-- BENEFITS -->
<div class="container-fluid mb-5 mt-5">
    <div class='pb-5 pt-5 subject'>
        <div class="row">
        <div class="col-md-4">
            <a href='/mentors'>
                <h3>Technology</h3>
            </a>
        </div>

        <div class="col-md-4">
            <a href='/mentors'>
                <h3>Science</h3>
            </a>
        </div>

        <div class="col-md-4">
            <a href='/mentors'>
                <h3>Psychology</h3>
            </a>
        </div>
        </div>

        <div class="row">
          <div class="col-md-4">
              <a href='/mentors'>
                  <h3>Math</h3>
              </a>
          </div>
  
          <div class="col-md-4">
              <a href='/mentors'>
                  <h3>Personal Finance</h3>
              </a>
          </div>
  
          <div class="col-md-4">
              <a href='/mentors'>
                  <h3>Language</h3>
              </a>
          </div>
        </div>
    </div>
</div>

<!-- CALL TO ACTION -->
<div class="jumbotron text-center mb-0 pb-5">
  <p class="lead mb-4">Sign Up for More Infomation</p>
  <div class="d-flex justify-content-center">
    <form action="#" class='form-inline'>
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email" data-toggle="tooltip" data-placement="top" title="Enter your email" style="border: 1px solid black;"/>
      <button type="submit" class="btn btn-primary mb-2" >Submit</button>
    </form>
  </div>
</div>
{% endblock %}
