{% extends 'base.html' %}

{% block content %}

<!-- HERO -->  
<div class="jumbotron text-center">
  <div class='hero-index'>
    <h1>Mentor Me</h1>
    <!-- <p class="lead">Welcome!</p> -->
    <a href="about.html" class="btn btn-primary">Learn More</a>
  </div>
</div>
  
<!-- BENEFITS -->
<div class="container">
    <div class='pb-5 pt-5'>
        <div class="row">
        <div class="col-md-4">
            <a href='men.html'>
                <h3>Technology</h3>
            </a>
        </div>

        <div class="col-md-4">
            <a href='women.html'>
                <h3>Science</h3>
            </a>
        </div>

        <div class="col-md-4">
            <a href='kids.html'>
                <h3>Psychology</h3>
            </a>
        </div>
        </div>

        <div class="row">
          <div class="col-md-4">
              <a href='men.html'>
                  <h3>Math</h3>
              </a>
          </div>
  
          <div class="col-md-4">
              <a href='women.html'>
                  <h3>Personal Finance</h3>
              </a>
          </div>
  
          <div class="col-md-4">
              <a href='kids.html'>
                  <h3>Language</h3>
              </a>
          </div>
        </div>
    </div>
</div>


<!-- CALL TO ACTION -->

<div class="jumbotron text-center mb-0">
  <p class="lead mb-4">Sign Up for More Infomation</p>
  <div class="d-flex justify-content-center">
    <form action="#" class='form-inline'>
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email" data-toggle="tooltip" data-placement="top" title="Enter your email"/>
      <button type="submit" class="btn btn-primary mb-2" >Submit</button>
    </form>
  </div>
</div>
{% endblock %}