{% extends 'base.html' %}

{% block content %}

<!-- HERO -->  
<div class="jumbotron text-center hero-background">
  <div class='hero-index'>
    <h1>Mentor Me</h1>
    <!-- <p class="lead">Welcome!</p> -->
    <a href="{{ url_for('mentor_form') }}" class="btn btn-primary">Become a mentor</a>
  </div>
</div>

<!-- BENEFITS -->
<div class="container-fluid mb-5 mt-5">
    <div class='pb-5 pt-5 subject'>
        <div class="row">
            <div class="col-lg-4">
                <div class="card col-md-12" style="padding: 5px;">
                    <a href='/mentors'>
                        <h2>Technology</h2>
                        <img src='static/images/ilya-pavlov-OqtafYT5kTw-unsplash.jpg' height='300' width='auto' class="card-img-top">    
                    </a>
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="card col-md-12" style="padding: 5px;">
                    <a href='/mentors'>
                        <h2>Science</h2>
                        <img src='static/images/alex-kondratiev-H9t723yPjYI-unsplash.jpg' height='300' width='auto' class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card col-md-12" style="padding: 5px;">
                    <a href='/mentors'>
                        <h2>Finance</h2>
                        <img src='static/images/ibrahim-rifath-OApHds2yEGQ-unsplash.jpg' height='300' width='auto'
                        class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}