{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="offset-lg-1 col-lg-4">
          <div class= 'mentors'>
              <h1>List of Mentors </h1>
              {% for mentor in mentors %}
                
                <i class="fa fa-user-circle-o icon" style="font-size:36px"><a href='/mentors/{{ mentor._id }}' class='mentornames' >{{mentor.name}}</a></i>
                
              {% endfor %}
            </div>
      </div>
  </div>
</div>

{% endblock %}
