{% extends 'base.html' %}

{% block content %}

<div class="profile">
  <h1>{{mentor.name}}'s Profile </h1>
  <img src='https://images.unsplash.com/photo-1521511189395-b82252213754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=941&q=80' height='500' width='auto' alt='profile picture'>
  <p>Name: {{mentor.name}}</p>
  <p>Age: {{mentor.age}}</p>
  <p>Location: put Location here</p>
  <p>Profession:{{mentor.profession}}</p>
  <p>Interest: {{mentor.interest}}</p>
  <p>Email: {{mentor.email}}</p>
  <button type="button" class="btn btn-success" style='margin-top: 1.5em;'><a href='#'>Chat</a></button>
</div>
  
{% endblock %}
